<div class="form-container">
    <button mat-raised-button class="btn-home" color="primary" [routerLink]="['/home']" routerLinkActive="router-link-active">
        Home
    </button>
</div>
<hr>
<div *ngIf="auth.user$ | async as user">
    <div>
        <p class="user-name">{{ user.displayName }} is logged in</p>
    </div>
    <br>
    <button mat-raised-button class="signout-btn" color="primary" (click)="logout()">
        Sign out
    </button>
</div>
<hr>
<div class="container">
    <app-header></app-header>
    <app-tasks></app-tasks>
</div>