<div>
    <div class="container" *ngIf="auth.user$ | async as user; else login">
        {{ user | json }}
        <hr>
        <app-button text = "{{ 'Sign out' }}"
                    color = "{{ 'black' }}"
                    (btnClick) = "auth.signOut()"></app-button>
    </div>
    <ng-template #login>
        <div class="button-box">
            <app-button style="margin-right: 10%;
                                float: right;" 
                        text = "{{ 'Log in with Google' }}"
                        color = "{{ 'green' }}"
                        (btnClick) = "auth.googleSignin()"></app-button>
        </div>
    </ng-template>
</div>